.card-deck {
	display: flex;
	flex-direction: column;
}
.card-deck .card {
	margin-bottom: 15px;
}
@media (min-width: 800px) {
	.card-deck {
		flex-flow: row wrap;
		margin-right: -15px;
		margin-left: -15px;
	}
	.card-deck .card {
		display: flex;
		flex: 1 0 0%;
		flex-direction: column;
		margin-right: 15px;
		margin-bottom: 0;
		margin-left: 15px;

		.card-footer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			* {
				width: 100%;
			}
		}
	}
	.card-footer {
		margin-top: 0.5rem;
		padding: 1rem;
		float: right;
	}
}
.card {
	position: relative;
	overflow: hidden;
	box-shadow: $box-shadow;
	margin: 1rem;
	background-color: $card-background;
	flex-basis: 100%;
	border-radius: $card-border-radius;
	.card-img {
		display: block;
		width: 100%;
	}
	.card-body {
		padding: 1rem;
		flex: 1 1 auto;
	}
	.card-footer {
		width: 100%;
		margin-top: 0.5rem;
		padding: 1rem;
		display: flex;
		justify-content: flex-end;

		@media screen and (max-width: 500px) {
			width: 100%;
			justify-content: space-evenly;
			align-items: center;
			flex-direction: column;
		}
	}
}
.blockquote {
	margin: 1rem;
	box-shadow: -7px 0 0 0 $accent-color;
	.blockquote-body {
		padding: 1rem;
		flex: 1 1 auto;
	}
}
