$page-background: #f4faff;
$selection-color: rgba(23, 23, 106, 0.2);

$scrollbar-thumb: #a0abc5;
$scrollbar-track: #e3e8fa;

// Colors
$light: #f4eea9;

$default-color: #141520;
$heading-color: #101222;

// Buttons
$primary: #44abdb;
$primary-hvr: #4598be;
$secondary: #dbdbdb;
$secondary-hvr: #bbbbbb;
$success: #519259;
$success-hvr: #397940;
$danger: #d84b32;
$danger-hvr: #b84430;

// Outline Button
$outline-dark: #0a0a0a;
$outline-dark-hvr: #0a0a0a;
$outline-light: #f1f1f1;
$outline-light-hvr: #c7c7c7;
