.jumbotron {
	padding: 5rem 2rem;
	box-shadow: $box-shadow;
	background-color: $jumbotron-background;
	h1 {
		font-size: 3rem;
	}
}
.accordion {
	display: flex;
	flex-direction: column;
	gap: $accordion-gap;
	.accordion-card {
		position: relative;
		cursor: pointer;
		background-color: $accordion-card-background;
		padding: 1rem;
		width: 100%;
		box-shadow: $box-shadow;

		.accordion-card-header {
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;

			:first-child,
			:last-child {
				flex-basis: 100%;
			}
			// Move icon to the right
			:last-child {
				position: absolute;
				right: 1rem;
				color: $accordion-card-icon-color;
				font-size: $accordion-card-icon-size;
			}
		}
		.accordion-card-body {
			cursor: default;
			padding: 0 1rem;
			visibility: hidden;
			height: 0;
			opacity: 0;
			overflow: hidden;
			transition: all 200ms ease-in-out;

			&::-webkit-scrollbar {
				width: 0.55rem;
			}
			&::-webkit-scrollbar-track {
				background-color: $scrollbar-track;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $scrollbar-thumb;
				border-radius: 1rem;
			}
		}
		.accordion-card-body.active {
			overflow-y: scroll;
			visibility: visible;
			opacity: 1;
			height: $accordion-card-active-height;
		}
	}
}
