.login-form,
.signup-form {
	display: flex;
	flex-direction: column;
	gap: 0.35rem;
}
input[type='text'],
input[type='email'],
input[type='date'],
input[type='password'],
input[type='number'],
textarea {
	height: 2.55rem;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 0;
	padding: 1rem;
	transition: outline 200ms;
	width: 100%;
}
textarea {
	height: 10rem;
	resize: vertical;
}
input:focus,
textarea:focus {
	outline: 4px solid rgba(0, 4, 255, 0.1);
}
