@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* ------------------- GRID SYSTEM ----------------------------------- */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^='col'] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
  content: '';
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {
  /* 540px */
  .container {
    width: 80%;
  }
}

@media only screen and (min-width: 45em) {
  /* 720px */
  .col-1 {
    width: 4.33%;
  }
  .col-2 {
    width: 12.66%;
  }
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 29.33%;
  }
  .col-5 {
    width: 37.66%;
  }
  .col-6 {
    width: 46%;
  }
  .col-7 {
    width: 54.33%;
  }
  .col-8 {
    width: 62.66%;
  }
  .col-9 {
    width: 71%;
  }
  .col-10 {
    width: 79.33%;
  }
  .col-11 {
    width: 87.66%;
  }
  .col-12 {
    width: 96%;
  }
  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) {
  /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101222;
  font-weight: 800;
  margin: 0.5rem 0;
}

h1 {
  font-size: 2.15rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 0.95rem;
}

small {
  font-size: 0.85rem;
}

blockquote {
  font-size: 0.95rem;
  font-style: italic;
}

.spacer-sm {
  padding: 1rem 0;
}

.spacer-md {
  padding: 2rem 0;
}

.spacer-lg {
  padding: 3rem 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.content-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jumbotron {
  padding: 5rem 2rem;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
}

.jumbotron h1 {
  font-size: 3rem;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.accordion .accordion-card {
  position: relative;
  cursor: pointer;
  background-color: white;
  padding: 1rem;
  width: 100%;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
}

.accordion .accordion-card .accordion-card-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion .accordion-card .accordion-card-header :first-child,
.accordion .accordion-card .accordion-card-header :last-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.accordion .accordion-card .accordion-card-header :last-child {
  position: absolute;
  right: 1rem;
  color: #141520;
  font-size: 1.25rem;
}

.accordion .accordion-card .accordion-card-body {
  cursor: default;
  padding: 0 1rem;
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out, height 200ms ease-in-out;
  transition: visibility 200ms ease-in-out, opacity 200ms ease-in-out, height 200ms ease-in-out;
}

.accordion .accordion-card .accordion-card-body.active {
  overflow-y: scroll;
  visibility: visible;
  opacity: 1;
  height: 100px;
}

button {
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 1.5rem;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
  border-radius: 0;
  margin: 0.25rem;
  text-align: center;
  cursor: pointer;
}

.btn-primary {
  background-color: #44abdb;
  border: 0.13rem solid #4598be;
  -webkit-transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-primary:hover {
  background-color: #4598be;
}

.btn-primary:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-secondary {
  background-color: #dbdbdb;
  border: 0.13rem solid #bbbbbb;
  -webkit-transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-secondary:hover {
  background-color: #bbbbbb;
}

.btn-secondary:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-success {
  background-color: #519259;
  border: 0.13rem solid #397940;
  -webkit-transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-success:hover {
  background-color: #397940;
}

.btn-success:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-danger {
  background-color: #d84b32;
  border: 0.13rem solid #b84430;
  -webkit-transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-danger:hover {
  background-color: #b84430;
}

.btn-danger:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-outline-dark {
  background-color: transparent;
  color: #0a0a0a;
  border: 0.13rem solid #0a0a0a;
  -webkit-transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-outline-dark:hover {
  background-color: #0a0a0a;
  color: #f4eea9;
}

.btn-outline-dark:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-outline-light {
  background-color: transparent;
  color: #f1f1f1;
  border: 0.13rem solid #f1f1f1;
  -webkit-transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-outline-light:hover {
  background-color: #c7c7c7;
  color: #0a0a0a;
}

.btn-outline-light:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-outline-primary {
  background-color: transparent;
  color: #44abdb;
  border: 0.13rem solid #4598be;
  -webkit-transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #4598be;
  color: #f4eea9;
}

.btn-outline-primary:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-outline-success {
  background-color: transparent;
  color: #519259;
  border: 0.13rem solid #397940;
  -webkit-transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-outline-success:hover {
  background-color: #397940;
  color: #f4eea9;
}

.btn-outline-success:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.btn-outline-danger {
  background-color: transparent;
  color: #d84b32;
  border: 0.13rem solid #b84430;
  -webkit-transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out;
  transition: color 35ms ease-in-out, transform 35ms ease-in-out, background-color 201ms ease-in-out, -webkit-transform 35ms ease-in-out;
}

.btn-outline-danger:hover {
  background-color: #b84430;
  color: #f4eea9;
}

.btn-outline-danger:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 500px) {
  .btn-primary,
  .btn-secondary,
  .btn-success,
  .btn-danger,
  .btn-outline-primary,
  .btn-outline-secondary,
  .btn-outline-success,
  .btn-outline-danger,
  .btn-outline-dark,
  .btn-outline-light {
    width: 100%;
  }
}

.card-deck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-deck .card {
  margin-bottom: 15px;
}

@media (min-width: 800px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
  }
  .card-footer {
    margin-top: 0.5rem;
    padding: 1rem;
    float: right;
  }
}

.card {
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);
  margin: 1rem;
  outline: 2px solid #dbdbdb;
  background-color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 0.35rem;
}

.card .card-img {
  display: block;
  width: 100%;
}

.card .stripe {
  position: absolute;
  width: 0.5rem;
  height: 100%;
  left: 0;
  top: 0;
  float: left;
  background-color: #44abdb;
}

.card .card-body {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card .card-footer {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 500px) {
  .card .card-footer {
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.blockquote {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.blockquote .stripe {
  position: absolute;
  width: 0.5rem;
  height: 100%;
  left: 0;
  top: 0;
  float: left;
  background-color: #44abdb;
  border-radius: 0.35rem;
}

.blockquote .blockquote-body {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.35rem;
}

.login-form input[type='text'],
.login-form input[type='email'],
.login-form input[type='date'],
.login-form input[type='password'],
.login-form input[type='number'],
.login-form textarea {
  height: 2.25rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  padding: 1rem;
  -webkit-transition: outline 200ms;
  transition: outline 200ms;
  width: 100%;
}

.login-form textarea {
  height: 10rem;
  resize: vertical;
}

.login-form input:focus,
.login-form textarea:focus {
  outline: 4px solid rgba(0, 4, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  font-style: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #141520;
}

body {
  background-color: #f4faff;
}

body::-webkit-scrollbar {
  width: 0.55rem;
}

body::-webkit-scrollbar-track {
  background-color: #e3e8fa;
}

body::-webkit-scrollbar-thumb {
  background-color: #a0abc5;
  border-radius: 1rem;
}

::-moz-selection {
  background-color: rgba(23, 23, 106, 0.2);
}

::selection {
  background-color: rgba(23, 23, 106, 0.2);
}
/*# sourceMappingURL=main.css.map */