@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font: 'Poppins', sans-serif;
$font-weight-heading: 800;
$box-shadow: 0 3px 5px 0 rgba(0, 0, 200, 0.2);

@import 'colors', 'buttons', 'typo', 'cards', 'components', 'nav', 'forms';
* {
	margin: 0;
	padding: 0;
	font-style: normal;
	box-sizing: border-box;
	font-family: $font;
	color: $default-color;
}
body {
	background-color: $page-background;
	&::-webkit-scrollbar {
		width: 0.55rem;
	}
	&::-webkit-scrollbar-track {
		background-color: $scrollbar-track;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $scrollbar-thumb;
		border-radius: 1rem;
	}
}
::selection {
	background-color: $selection-color;
}
